html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    overflow-y: scroll;
}
#logo{
    font-family: 'Fugaz One', cursive;
    font-size: xx-large;
}
nav{
    background-color: #ffffffcc;
}
.nav-link{
    padding-left:0;
    padding-right: 0; 
}
.nav-link.active{
    border-bottom: 2px solid #2a90ff;
}
#introIndex{
    background-image: url(assets/black-black-and-white-black-white-6663.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#introIndex .display-2 {
    font-family: 'Fugaz One', cursive;
}
.section{
    height: 100vh;
    /* min-height: -webkit-fill-available; */
    /* background-color: grey; */
}
.sectionText{
    transition: all 0.5s;
    cursor: default;
}
.sectionText:hover, .sectionText.active{
    box-shadow: 3px 3px 5px 1px grey;
}

.sectionText:hover h3{
    color:#007bff;
}
.sectionText hr{
    border-top: 2px solid #007bff;
    width: 0%;
    transition: all 1s;
}
.sectionText:hover hr{
    width: 100%
}
#menu ul{
    display: inline-flex;
    margin:0;
}
#menu li {
    list-style: none;
    display: flex;
    align-items: center;
}
.row{
    margin:0;
}
#backToTop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #ffffffcc;
    z-index: 1;
}
#introIndex div{
    background-color: #ffffffa1;
}
#featImg02 .carousel-inner{
    max-height: 500px !important;
    max-width: 353px !important;
}
/* Sign Up CSS */
#signUpIndex {
    position: relative;
    background-image: url(assets/art-artist-background-316466.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#buttonsBottom{
    position: absolute;
    bottom: 10px;
}
#signUpIndex .row{
    width: 80%;
    margin:0 auto;
}
#signUpIndex .form-group{
    width: 100%;
}
#StepsBottom div{
    height: 20px;
    width: 100%;
    background-color: #007bff;
}
.back-next-btn{
    padding: 0;
}
#BackToProfile a:hover{
    color:#ffffff !important;
    text-decoration: none;
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    /* .section{
        height: 100%;;
    }    */
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #menu{
        background-color: #ffffff !important;
    }
    #logo{
        padding: 0 0 0 10px !important;
    }
    #menu li{
        padding: 0 5px !important;
        font-size: 0.9rem;
    }
    #introIndex h3{
        font-size: 2rem;
    }
    #introIndex h1{
        font-size: 3.5rem;
    }
    #aboutIndex,#featuresIndex{
        padding:40px 0 0 !important;
    }
    .section{
        min-height: -webkit-fill-available;
        height: 100%;;
    }
    #aboutIndex .sectionText, #featTextSection .sectionText {
        padding-bottom: 0 !important;
    }
    #featTextSection{
        padding: 0 !important;
    }
}